<!-- guest_dashboard.html.erb -->

<h1>Guest Dashboard</h1>

<h3>Ready for Payment</h3>

<table class="table">
	<thead>
		<tr>
			<th>Start</th>
			<th>End</th>
			<th>Cost</th>
			<th>Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @approved_bookings.each do |booking| %>
			<tr>
				<td><%= booking.start_date %></td>
				<td><%= booking.end_date %></td>
				<td><%= number_to_currency(booking.room.price) %></td>
				<td><%= booking.room.title %></td>
				<td><%= render 'partials/stripe', booking: booking %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Pending Approval</h3>
